<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/form.css">
    <title>Formulário</title>

</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#">
          <img src="../resources/img/elo2.png" width="200" height="70" alt="">
        </a>
      </nav>
    <div id="form" class="formulario">
        <h1>Formulário</h1>
        <div class="form-group">
            <label for="nome">Nome<label class="obg">*</label></label>
            <input type="text" class="form-control" id="nome" placeholder="Digite seu primeiro nome">
        </div>
        <div class="form-group">
            <label for="Sobrenome">Sobrenome<label class="obg">*</label></label>
            <input type="text" class="form-control" id="Sobrenome" placeholder="Digite seu Sobrenome">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone<label class="obg">*</label></label>
            <input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone">
            <small id="telefone" class="form-text text-muted">dd + número de telefone</small>
        </div>
        <div class="form-group">
            <label for="midia">Como nos conheceu?<label class="obg">*</label></label><br>
            <select>
                <option v-for="op in opComoConheceu" :value="op">{{op}}</option>
              </select>
        </div>
        <div class="form-group">
            <label for="midia">Possui rede social?<label class="obg">*</label></label><br>
            <input type="radio" id="sim" name="op" value="sim" v-model="dadosForm.redeSocial">
            <label for="sim">Sim</label>&nbsp;
            <input type="radio" id="nao" name="op" value="nao" v-model="dadosForm.redeSocial">
            <label for="nao">Não</label><br>
        </div>
        <div v-if="dadosForm.redeSocial == 'sim'">
            <h4>Quais redes?</h4>
            <div class="form-check" v-for="rede in opRede">
                <input type="checkbox" class="form-check-input" id="rede" :value="rede" v-model="dadosForm.rede">
                <label class="form-check-label" for="rede">{{ rede }}</label>
            </div>
        </div>
        <div class="submit">
            <button class="btn btn-primary botao" @click="enviaDados();">Enviar</button>
        </div>  
    </div>

    <footer class="page-footer font-small bg-dark ft-size">
        <div class="footer-copyright text-center py-3">© 2020 Copyright: elogroup</div>      
      </footer>

    <!-- Axios local -->
    <script src="../resources/js/axios.min.js"></script>
    <!-- Vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="../resources/js/form.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>